body{
    background-image: url(backgroundImage.jpg) ;
    color: white;
}
.topBar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.moves{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 250px;
}

.scoreCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    color: black;
    background-color: white;
    padding:25px;
    border-radius: 25px;
}
.btns{
    font-size: 25px;

}